html {
  background: $htmlBG;
}

body {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em 2em;
  color: $gray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  @media screen and (min-width: 768px) {
    padding: 2em 4em;
  }
}

body, p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: $green;
  text-decoration: none;

  &:hover {
    color: $focus;
    text-decoration: underline;
  }
}

button, .btn {
  background: $green;
  color: $white;
  border-radius: 0;
  padding: .5em 2em;

  &:hover, &:focus, &:active {
    color: $white;
    background: $hover;
  }

  &:focus, &:active {
    outline: 5px auto $focus;
  }
}
