$white: white;
$gray3: rgb(160,160,160);
$gray2: rgb(198,198,198);
$gray: rgb(81,81,81);
$black: black;

$yellow: rgb(247,246,208);

$green: rgb(37,147,60);
$green2: rgb(46,160,70);
$green3: rgb(58,192,84);

$tinted-gray: rgb(195,210,198);

$hover: $green2;
$focus: $green3;
$htmlBG: $gray2;
