section {
  margin: 1em 0;

  h1 {
    color: $gray2;
    font-size: 1.1em;
    text-transform: uppercase;
  }

  h2 {
    font-weight: bold;
    font-size: 1.1em;
    text-transform: capitalize;
  }
}

.color-block {
  background: $yellow;
  padding: 1em 2em;

  h1 {
    margin: .5em 0;
  }
}
