@import "colors";

html {
  background: $htmlBG;
}

body {
  height: 100vh;
  max-width: 65em;
  margin: 0 auto;
  padding: 2em 4em;
  color: $gray;
}

body, p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

header {
  text-align: center;

  @media screen and (min-width: 40em) {
    width: 80%;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    height: 4em;
  }

  h2 {
    font-size: 1.2em;
    font-style: italic;
  }
}

button, .btn {
  background: $green;
  color: $white;
  border-radius: 0;
  padding: .5em 2em;

  &:hover, &:focus {
    color: $white;
    background: $hover;
  }

  &:focus {
    outline: 5px auto $focus;
  }
}
